<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8">
    <title>403</title>
</head>
<body>
<div layout:fragment="content1">
    <div class="container mt-2">
        <h2>Vous n'etes pas authorisé à accéder à cette ressource</h2>
    </div>
</div>
</body>
</html>