<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="layout">
<head>
<meta charset="UTF-8">
<title>Login</title>
    <link rel="stylesheet" type="text/css" href="/cssApp/style.css">
</head>
<body>
	<div layout:fragment="content1">
		<div class="login-box">
			<div class="row">
				<div class="col-xs-12">
					<div th:if="${param.error}"
						 class="alert alert-danger alert-dismissable">
							<i class="icon fa fa-ban"></i> <span>Nom-Utilisateur ou
									mot de passe invalides.</span>
					</div>
					<div th:if="${param.logout}"
						 class="alert alert-info alert-dismissable">

							<i class="icon fa fa-info"></i> <span>Vous avez été
									déconnecté.</span>

					</div>
				</div>
			</div>
			<h1>Authentification</h1>
			<form th:action="@{login}" method="post">
				<div class="form-group has-feedback">
					<label class="control-label" style="color:#fff;">Username</label> 
					<input class="form-control" type="text" name="username"> <span
						class="glyphicon glyphicon-envelope form-control-feedback"></span>
				</div>
				<div class="form-group has-feedback">
					<label class="control-label" style="color:#fff;">Password</label> 
					<input class="form-control" type="password" name="password"> <span
						class="glyphicon glyphicon-lock form-control-feedback"></span>
				</div>
				<br>
				<button class="btn btn-info" id="botton1" type="submit">Login</button>

			</form>

		</div>
	</div>

</body>
</html>