<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="template1">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
    <script src="webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div layout:fragment="content1">
    <div class="container mt-2">
        <div class="card">
            <div class="card-body">
                       <h2>hellooooo</h2>
            </div>
        </div>
    </div>
</div>
</body>
</html>